@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: black;
}

/* home */
.main-intro {
  background: url('../public/destiny_bg.avif');
  background-position: center;
  background-size: 100%;
  transition: 3s ease all;
  /* animation: intro-bg 10s ease infinite forwards; */
}

.hovered {
  background-size: 120%;
  background-position: top 10% right 10%;
}

@keyframes intro-bg {
  0% {
    background-size: 100%;
    background-position: top 90% right 90%;
  }

  50% {
    background-size: 120%;
    background-position: top 10% right 10%;
  }

  100% {
    background-size: 100%;
    background-position: top 90% right 90%;
  }
}

